html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: lightyellow;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background-color: lightyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: lightyellow;
    text-decoration: none;
    flex-wrap: wrap;
}

.navbar ul{
    list-style-type: none;
    background-color: lightyellow;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.navbar a{
    color: orangered;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: orangered;
    text-decoration: underline;
    color: white;
}

.navbar a.active {
    background-color: orangered;
    text-decoration: underline;
}

.navbar li {
    display: inline-block;
}

#home {
    text-align: left;
    padding: 2em;
    font-size: 5vw;
    color: orangered;
    font-family: 'Pacifico';
    display: flex;
    align-items: center;
}

#image {
    text-align: right;
}

#background {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 700px;
    height: auto;
    top: -80px;
    left: -90px;
}

#backgroundtwo {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 700px;
    height: auto;
    top: 600px;
    right: -250px;
}

#backgroundfour {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 700px;
    height: auto;
    top: -350px;
    right: -400px;
}

img {
    max-width: 85%;
    height: 80%;
    border-radius: 10px;
    text-align: right;
}

#projects {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    position: absolute;
    right: 22%;
    top: 1500px;
}

.intro {
    margin-top: 60px;
    text-align: center;
    padding: 2em;
}

.title {
    text-align: center;
    right: 10px;
    padding: 2em;
    font-size: 5vw;
    color: orangered;
    font-family: 'Pacifico';
    position: absolute;
    right: 35px;
    display: flex;
}

#about {
    display: flex;
    align-items: center;
}

.info {

    position: absolute;
    left: 85px;
    background-color: rgba(253, 171, 107, 0.5); 
    border-radius: 10px;
    padding: 10px;
    width: 25vw;
    height: auto;
    text-align: center;
}

#projecttitle {
    text-align: center;
    padding: 2em;
    font-size: 5vw;
    color: orangered;
    font-family: 'Pacifico';
}

#backgroundthree {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 700px;
    height: auto;
    bottom: -1000px;
    left: -200px;
}

#backgroundfive {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 700px;
    height: auto;
    bottom: -1300px;
    right:-200px;
}

.first {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(253, 139, 51); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(251, 170, 108); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.third {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(250, 197, 156); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#backgroundsix {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 700px;
    height: auto;
    bottom: -700px;
    left: -400px;
}

#resume {
    text-align: center;
    display: block;
    border-radius: 20%;
    background-color: orangered;
    padding: 2em;
    width: auto;
    position: absolute;
    right: 43%;
    top: 350px;
}

.downloadlink {
    color: white;
    text-decoration: none;
}

#contact {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    position: absolute;
    right: 25%;
    top: 475px;
}

.phonepic {
    max-width: 25%;
    height: 30%;
    text-align: center;
}

.phone {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 68, 0, 0.786);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.emailpic {
    max-width: 25%;
    height: 30%;
    text-align: center;
}


.email {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 68, 0, 0.786);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    color: orangered;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: -750px;
    left: -11%;
    width: 100%;
}



